<!DOCTYPE html>
<html>
<head lang="en">
    <script src="{{ url_for('static', filename = 'jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'socket.io.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect("http://" + document.domain + ":" + location.port + "/mynamespace");
            /* socket.on('response', function(msg){
                $("#received").append('<p> ' + msg.username + ': ' + msg.data + '</p>');
            }); */
            socket.on('imgResponse', function(msg){
                //console.log(msg.data);
                $("#streaming").attr("src", msg.data);
            });
            socket.on('connect', function(msg){
                setInterval(function(){
                    socket.emit("imgRequest", {data: "gimme"});
                }, 90)
            });
/* 
            $("form#broadcast").submit(function(event){
                if($("#input-data").val() == "")
                {
                    return false;
                }
                socket.emit("request", {data: $("#input-data").val()});
                $("#input-data").val("");
                return false;
            }); */
            $("#get_img").click(function(){
                socket.emit("imgRequest", {data: "gimme"});
            })
        });
    </script>
    <meta charset="UTF-8">
    <title>websock test</title>
</head>
<body>
 
<h1>Rear View</h1>
<!-- <div id="received">
 
</div>
 
<form id="broadcast" action="#">
    <input id="input-data" type="text"/>
    <input type="submit"/>
</form> -->
<img id="streaming" src=""/>

<!-- <button id="get_img">get img</button> -->
   
</body>
</html>